<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${title}">Contact Us</title>
  <th:block th:replace="~{fragments/common_css::commonCss1}"></th:block>
</head>
<body>
  <!-- Header -->
  <div th:replace="~{fragments/header::headerFragment}"></div>
  
  <!-- for showing mssg -->
  <h2 th:if="${mssg}" th:text="${mssg}" class="text-danger"></h2>

  <!-- Main Body -->
  <div class="main-body my-2">
    <section class="content">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-6"> <!-- Smaller column -->
            <div class="card border-primary shadow-sm">
              <div class="card-header bg-success text-white text-center">
                <h4 class="card-title mb-0">Contact Us</h4>
              </div>

              <form method="POST" action="/contactUs" role="form" class="needs-validation" novalidate>
                <div class="card-body">

                  <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" id="name" name="name" class="form-control" required>
                     <div class="invalid-feedback">
                           Name Required
                     </div>
                  </div>

                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" name="email" class="form-control" required >
                    <div class="invalid-feedback">
                           Email Required
                     </div>
                  </div>

                  <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" id="phone" name="phone" class="form-control" required>
                    <div class="invalid-feedback">
                           Phone Required
                     </div>
                  </div>

                  <div class="mb-3">
                    <label for="question" class="form-label">Question</label>
                    <textarea id="question" name="question" rows="4" class="form-control" required></textarea>
                    <div class="invalid-feedback">
                           Question Required
                     </div>
                  </div>

                </div>

                <div class="card-footer text-center">
                  <button type="submit" class="btn btn-success w-25 text-center">Submit</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Footer -->
  <div th:replace="~{fragments/footer::footerFragment}"></div>
  <script src="js/validation.js"></script>

</body>
</html>
